.btn {
    margin-right: 5px
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
    background: rgb(196, 195, 195);
}

.tableActions {
    width: 105px;
}

.todoForm {
    padding-bottom: 60px;
}