<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulario de cadastro de Noticia</title>
		</head>
	<body>

		<h1>Adicionar noticia</h1>
		<br>

		<form action="/noticias/salvar" method="post">
			<label>Titulo</label>
			<input type="text" name="titulo" id="titulo"  placeholder="Titulo da Noticia">
			<br>
			<br>
			<label>Noticia</label>
			<textarea name="noticia" id="noticia" cols="30" rows="05"></textarea>
			<br>
			<input type="submit" value="Enviar">
		</form>

	</body>
</html>